<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
        <h1>Аутентификация</h1>
        <h3>Добро пожаловать в Онлайн-кинотеатр!</h3>
        <form method="POST">
            <label>Имя</label><br>
            <input name="login" id = "login" class="field"/><br><br>
            <label>Пароль</label><br>
            <input type="password" name="password" id = "password" class="field"/><br><br>
            <input type="submit" value="Отправить" />
        </form>
             <form action="/spravka" method="get">
       <input type="submit" value="Справка"/>
       
     </form>
     </div>
</body>
<html>