<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
    <h1>Добавление Зала</h1>
     <form method="POST">
        <label>VIP</label><br>
        <input name="vip" class="field" autocomplete="off"/><br><br>
        <label>Места</label><br>
        <input name="seats" class="field" autocomplete="off"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/hall">К залам</a>
    </div>
</body>
<html>