<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
    <h1>Добавление Сессии</h1>
     <form method="POST">
        <label>Начало</label><br>
        <input name="start_at" class="field" autocomplete="off"/><br><br>
        <label>Конец</label><br>
        <input name="end_at" class="field" autocomplete="off"/><br><br>
        <label>ID Фильма</label><br>
        <input name="movie_id" class="field" autocomplete="off"/><br><br>
        <label>ID Зала</label><br>
        <input name="hall_id" class="field" autocomplete="off"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/sessions">К сессиям</a>
    </div>
</body>
<html>