<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="allusers">
        <table style="margin-left:auto;margin-right:auto;">
                                        <td>
                        <form action="create_hall" method="GET">
            <input type="submit" value="Добавить">
            </td>
            <tr><th>VIP</th><th>Количество мест</th></tr>
            {{#each hall}}
            <tr>
                <td>{{this.vip}}</td>
                <td>{{this.seats}}</td>
            </tr>
            {{/each}} 
            </form>
        </table>
     <form action="/sessions" method="get">
       <input type="submit" value="К сессиям"/>
     </form>
    </div>
</body>
</html>