<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <style></style>
</head>
<body>
    <div class = "check">
        <h1>Кажется что то пошло не так...</h1>
        <h3>скорее всего у вас нет учетной записи,самое время создать её!</h3>
        <p><a href="/create">создатe</a> аккаунт если еще не создали</p>
        <p><a href="/check">Войти</a></p>
     </div>
</body>
<html>