<!DOCTYPE html>
<html>
<head>
    <title>Поиск фильма по названию</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class = "allusers">
        <h1>Поиск фильма по названию</h1>
                                 <script>
                        let name = prompt()
                        location.replace(`/poisk_movie/${name}`);
                     </script>
    </div>
</body>