<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <style></style>
</head>
<body>
    <div class = "check">
        <h1>Краткое руководство пользователя</h1>
        <h3>Шаг 1: Создание нового пользователя</h3>
        <h3>Шаг 2: Авторизация</h3>
        <h3>Шаг 3: Просмотр существующих сессий</h3>
        <h3>Шаг 4: Выбор понравившегося фильма и подбор ближайшей сесии</h3>
        <h3>Шаг 5: Просмотр кинофильма</h3>
        <h3>Опционально: Сортировка фильмов по датам и названиям для более комфортного поиска</h3>
     <form action="/check" method="get">
       <input type="submit" value="На главную"/>
     </form>
     </div>

</body>
<html>