<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class = "check">
        <table style="margin-left:auto;margin-right:auto;">
            <tr><th>Начало</th><th>{{session.start_at}}</th><th></th></tr>
            <tr><th>Конец</th><th>{{session.end_at}}</th><th></th></tr>
            <tr><th>ID Зала</th><th>{{session.halls_id}}</th><th></th></tr>
            <tr><th>ID Фильма</th><th>{{session.movie_id}}</th><th></th></tr>
        </table>
             <form action="/sessions" method="get">
       <input type="submit" value="К сессиям"/>
     </form>
    </div>
</body>
</html>